
h2,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
  .btn {
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 15px;
    padding: 1rem;
    text-align: center;
    border: 1px solid black;
    outline: none;
    transition: 0.4s;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
  }
  #but {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
#button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #034c88;
  width: 100%;
  padding: 10px;
}
#text{
margin-bottom: 20px;;
}

#content-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 3%;
}
.content_div {
  width: 500px;
}
.content {
  display: none;
  border: 2px solid black;
  height: 70vh;
  background-color: #034c88;
}

.content{
  width: 200px;
}
.accordion p{
  padding-left: 3%;
  padding: 5px;
  width: 193px;
  cursor: pointer;
}
.active,
.accordion:hover {
  background-color: #f1f7f5;
}
.pannel {
  padding: 0 2rem 2.5rem 2rem;
  overflow: hidden;
  display: none;
  border: 2px solid black;
  height: 100px;
  background-color: #e8e6e6;
}
.pannel p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
  line-height: 1;
  color: #034c88;
  font-family: Arial, Helvetica, sans-serif;
}

.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 5;
  width: 100%;
  background-color: inherit;
}
.faq.active {
  border: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   print-color-adjust: exact;
  -webkit-print-color-adjust: exact !important;
}

@page {
  size:A4;
  margin: 0 0 0 0;
}
.fa {
    color: black;
    font-size: 5em;
    cursor: pointer;
} 

@media print{
.print-area, .print-area *{
  display: block;
}
}
